:root {
  --bg: black;
  --pad: 20px;
}

body {
  background-color: var(--bg);
  color: white;
  width: 100%;
  max-width: 100vw;
  font-family: sans-serif;
  line-height: 1.5;
}

nav {
  height: 72px;
  overflow: hidden;
  padding: 0 var(--pad);
  background-color: rgba(0, 0, 0, 0);
  background-image: radial-gradient( rgba(0,0,0,0) 1px, var(--bg) 1px );
  background-size: 4px 4px;
  backdrop-filter: brightness(100%) blur(3px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

h2 {
  text-align: center;
  margin-top: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

nav div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  margin-top: 75px;
  padding: var(--pad) calc(var(--pad) * 2);
}