 <app-header></app-header>

<h1 style="text-align: center;">Customer</h1>

<div class="container">
    <div class="card m-5 p-3">
        <div class="card-body">
          <table class="table table-bordered table-striped table-hover" datatable [dtOptions]="dtOptions">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Phone number</th>
                    <th>Update</th>
                    <th>Deactivate</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let user of dataa">
                    <td style="text-align: center;">{{ user.name }}</td>
                    <td style="text-align: center;">{{ user.name }}</td>
                    <td style="text-align: center;">{{ user.name }}</td>
                    <td style="text-align: center;">{{ user.name }}</td>
                    <td style="text-align: center;"><button style="border-radius: 24px;">Update</button>
                        <button style="border-radius: 24px;">Remove</button></td>
                    <td style="text-align: center;"><input type="checkbox" ng-model="checkboxModel.value1"></td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>